body{background-color:#fffff2;background-image:url('background.jpg');background-repeat:no-repeat;}
#logo{width:150px;padding-top:20px;padding-bottom:20px}
#resumeTab{background-color:#74c7fe;font-weight:bold;text-align:center;margin-top:30px;width:200px;box-shadow: 0 4px 8px 0 rgba(116, 199, 254, 0.2), 0 6px 20px 0 rgba(116, 199, 254, 0.19);}
@font-face {
    font-family: 'LexendDeca';
    src: url('LexendDeca-VariableFont_wght.ttf');
}